<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nanning Poker Terrapin</title>
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap-theme.css}">
    <style>
        .terrapin-banker-btn {
            margin-left: 5px;
        }

        p.text-log {
            color: gray;
            font-size: x-small;
            font-style: italic;
        }

        table.terrapin-tb tr.terrapin-player-banker {
            font-size: larger;
            font-weight: bolder;
        }

        table.terrapin-tb tr td {
            vertical-align: middle;
        }

        .dv-room, .dv-game, .dv-display div, .dv-display form {
            margin-bottom: 10px;
        }

        .dv-room-welcome span {
            font-size: xx-large;
            vertical-align: middle;
        }

        .dv-room-info span {
            font-style: italic;
        }

        #btn-start {
            margin-bottom: 5px;
        }

        #sp-my {
            font-size: x-large;
            margin-left: 5px;
        }
    </style>
</head>
<body>

<div class="container
        col-lg-offset-2 col-lg-8
        col-md-offset-2 col-md-9
        col-sm-offset-2 col-sm-9
        col-xs-offset-0">
    <h1>Nanning Poker Terrapin</h1>

    <!-- 大厅区 -->
    <div id="dv-mall">
        <form id="fm-login">
            <div class="form-group">
                <label for="txt-name">来者何人</label>
                <input type="text" class="form-control" id="txt-name" placeholder="听口音不像本地人" autocomplete="off"
                       maxlength="8">
            </div>
            <div class="form-group">
                <label for="txt-room">去向何方</label>
                <input type="text" class="form-control" id="txt-room" placeholder="天字一号已经满了" autocomplete="off"
                       maxlength="8">
            </div>
            <div class="form-group">
                <label for="txt-code">接头暗号</label>
                <input type="text" class="form-control" id="txt-code" placeholder="隔墙有耳务必三思" autocomplete="off"
                       maxlength="8">
            </div>
            <button type="submit" class="btn btn-success" id="btn-login">躬身入局</button>
            <button type="submit" class="btn btn-default" id="btn-ob">旁观者清</button>
        </form>
    </div>

    <!-- 房间区 -->
    <div id="dv-room" style="display: none;" class="dv-room">
        <div class="dv-room-welcome">
            <span id="sp-name"></span> <span>Go!</span>
            <button type="button" class="btn btn-default" id="btn-logout">下次再来</button>
        </div>
        <div class="dv-room-info">
            <span>房号：<span id="sp-room"></span>，暗号：<span id="sp-code"></span></span>
        </div>
    </div>

    <!-- 操作区 -->
    <div id="dv-game" style="display: none" class="dv-game">
        <div>
            <button type="button" class="btn btn-success" id="btn-start">发牌走起</button>
            <span id="sp-my"></span>
        </div>
        <div>
            <button type="button" class="btn btn-primary" id="btn-adjust">摆牌</button>
            <button type="button" class="btn btn-default terrapin-player-btn" id="btn-pass">求走</button>
            <button type="button" class="btn btn-default terrapin-player-btn" id="btn-cover">盖牌</button>
            <button type="button" class="btn btn-default terrapin-player-btn" id="btn-force">强攻</button>
            <button type="button" class="btn btn-warning terrapin-banker-btn" id="btn-open">庄家开牌</button>
            <button type="button" class="btn btn-success" id="btn-win">赢得爽</button>
            <button type="button" class="btn btn-danger" id="btn-lose">输得起</button>
        </div>
    </div>

    <!-- 显示区 -->
    <div id="dv-display" style="display: none" class="dv-display">
        <div id="dv-players"></div>
        <div id="dv-observers"></div>
        <form class="form-inline" id="fm-rec">
            <div class="form-group">
                <input type="text" class="form-control" id="txt-msg" placeholder="武汉加油" autocomplete="off"
                       maxlength="25">
            </div>
            <input type="submit" class="btn btn-success" id="btn-msg" value="平安喜乐"/>
            <button type="button" class="btn btn-default" id="btn-log-change">分分合合</button>
            <button type="button" class="btn btn-default" id="btn-clearLog">长岛冰茶</button>
        </form>

        <div id="dv-log"></div>
        <div style="width: 100%; display: none" id="dv-only">
            <div id="dv-chat-only" style="width: 48%; float: left;"></div>
            <div id="dv-log-only" style="width: 48%; float: right;"></div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery.js}" type="text/javascript"></script>
<script th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.js}" type="text/javascript"></script>
<script th:src="@{/js/stomp.min.js}" type="text/javascript"></script>
<script th:src="@{/js/sockjs.min.js}" type="text/javascript"></script>
<script th:src="@{/game/index.js}" type="text/javascript"></script>
<script type="text/javascript">
    var dvOnly = true;
    index.init(function () {
        $('#txt-name').focus();

        $('#btn-login').click(function () {
            var success = index.login($('#txt-name').val().trim(), $('#txt-room').val().trim(), $('#txt-code').val().trim(), true);
            if (!!success) $('#txt-msg').focus();
            return false; // 阻止页面提交事件
        });

        $('#btn-ob').click(function () {
            var success = index.login($('#txt-name').val().trim(), $('#txt-room').val().trim(), $('#txt-code').val().trim(), false);
            if (!!success) $('#txt-msg').focus();
            return false; // 阻止页面提交事件
        });

        $('#btn-start').click(function () {
            index.start();
        });

        $('#btn-logout').click(function () {
            index.logout();
        });

        // 发言
        $('#btn-msg').click(function () {
            var $rec = $('#txt-msg');
            index.msg($rec.val());
            $rec.val('');
            return false;
        });

        $('#btn-clearLog').click(function () {
            $('#dv-log').html('');
            $('#dv-log-only').html('');
            $('#dv-chat-only').html('');
        });

        // 操作
        $('#btn-adjust').click(function () {
            index.adjust();
        });

        $('#btn-pass').click(function () {
            index.pass();
        });
        $('#btn-cover').click(function () {
            index.cover();
        });
        $('#btn-force').click(function () {
            index.force();
        });
        $('#btn-open').click(function () {
            index.open();
        });
        $('#btn-win').click(function () {
            index.win();
        });
        $('#btn-lose').click(function () {
            index.lose();
        });
        $('#btn-log-change').click(function () {
            if (dvOnly) {
                $('#dv-log').hide();
                $('#dv-only').show();
                dvOnly = false;
            } else {
                $('#dv-log').show();
                $('#dv-only').hide();
                dvOnly = true;
            }
        });
    });
</script>
</body>
</html>