<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nanning Poker Terrapin</title>
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap-theme.css}">
    <style>
        .terrapin-banker-btn {
            margin-left: 5px;
        }
    </style>
</head>
<body>

<div class="container">
    <h1>Nanning Poker Terrapin</h1>
    <form class="form-inline" id="fm-login">
        <div class="form-group">
            <input type="text" class="form-control" id="txt-name" placeholder="来者何人" autocomplete="off">
        </div>
        <button type="button" class="btn btn-default" id="btn-login">躬身入局</button>
    </form>
    <div id="dv-game" style="display: none">
        <h2><span id="sp-name"></span> Go!</h2>
        <div>
            <button type="button" class="btn btn-default" id="btn-start">发牌走起</button>
            <button type="button" class="btn btn-default" id="btn-logout">下次再来</button>
        </div>
        <hr />
        <div id="dv-my"></div>
        <div>
            <button type="button" class="btn btn-default" id="btn-adjust">摆牌</button>
            <button type="button" class="btn btn-default terrapin-player-btn" id="btn-pass">求走</button>
            <button type="button" class="btn btn-default terrapin-player-btn" id="btn-cover">盖牌</button>
            <button type="button" class="btn btn-default terrapin-player-btn" id="btn-force">强攻</button>
            <button type="button" class="btn btn-default terrapin-banker-btn" id="btn-open">庄家开牌</button>
            <button type="button" class="btn btn-default" id="btn-win">赢份数</button>
            <button type="button" class="btn btn-default" id="btn-lose">输份数</button>
        </div>
        <hr />
        <div id="dv-players"></div>
        <hr />
        <form class="form-inline" id="fm-rec">
            <div class="form-group">
                <input type="text" class="form-control" id="txt-msg" placeholder="说点儿什么" autocomplete="off">
            </div>
            <button type="button" class="btn btn-default" id="btn-msg">恭喜发财</button>
            <button type="button" class="btn btn-default" id="btn-clearLog">长岛冰茶</button>
        </form>
        <hr/>
        <div id="dv-log"></div>
    </div>
</div>

<script th:src="@{/js/jquery.js}" type="text/javascript"></script>
<script th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.js}" type="text/javascript"></script>
<script th:src="@{/js/stomp.min.js}" type="text/javascript"></script>
<script th:src="@{/js/sockjs.min.js}" type="text/javascript"></script>
<script th:src="@{/game/index.js}" type="text/javascript"></script>
<script type="text/javascript">
    index.init(function () {
        $('#btn-login').click(function () {
            index.login($('#txt-name').val());
        });

        $('#btn-start').click(function () {
            index.start();
        });

        $('#btn-logout').click(function () {
            index.logout();
        });

        // 发言
        $('#btn-msg').click(function () {
            var $rec = $('#txt-msg');
            index.msg($rec.val());
            $rec.val('');
        });

        $('#btn-clearLog').click(function () {
            $('#dv-log').html('');
        });

        // 操作
        $('#btn-adjust').click(function () {
            index.adjust();
        });

        $('#btn-pass').click(function () {
            index.pass();
        });
        $('#btn-cover').click(function () {
            index.cover();
        });
        $('#btn-force').click(function () {
            index.force();
        });
        $('#btn-open').click(function () {
            index.open();
        });
        $('#btn-win').click(function () {
            index.win();
        });
        $('#btn-lose').click(function () {
            index.lose();
        });
    });
</script>
</body>
</html>